body{
    background-image: url("https://images.unsplash.com/photo-1614850523011-8f49ffc73908?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGdyYWRpZW50fGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container{
    width: 70%;
    padding: 30px;
    background: rgba(255,255, 255, 0.2);
    backdrop-filter: blur(100px);
    border: 2px solid rgb(67, 122, 155);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 195, 255, 0.4); 
}

.header{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: 	rgba(242, 133, 0, 1.0)
    }

.input{
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(124, 187, 203);
    border-radius: 20px;
    width: 50%;
    outline: none;
    transition: 0.3s;
}

input:focus {
     box-shadow: 0 0 2px #00f7ff,
                0 0 5px #00f7ff,
                0 0 10px #00f7ff;
}
input::placeholder{
    color: rgb(221, 221, 221);
}

.buttons{
    background-color: rgb(0, 195, 255);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#clearAllBtn { 
    background-color: rgba(245, 245, 245, 0.89);
    color: red;
    border: 1px solid red;
    outline: none;
}

#selectAll {
    background-color: rgb(58, 214, 58);
}

.buttons:hover{
    transform: scale(1.1);
    background-color: rgb(74, 178, 180);
}

p{
    color: white;
    font-weight: bold;
}

.due{
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid rgb(124, 187, 203);
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
}

.filters button{
    margin: 2px;
    padding: 5px 10px;
    background: rgba(255,255, 255, 0.2);

}

.filters-counters{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.filters{
    color: white;
    font-weight: bold;
}

#total{
    color: white;
}

#completed{
    color: rgb(4, 245, 4);
}

#remaining{
    color: red;
}

.list div{
    border: none;
    background-color: rgb(18, 197, 232, 0.4);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.list div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.list div label{
    color: whitesmoke;
    font-weight: bold;
}

.list div span small{
    color: whitesmoke;
}

.button-options{
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    margin: auto 20px;
    cursor: pointer;
    transition: 0.1s;
}

.button-options:hover{
    color: red;
}

